@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$default-font: "Montserrat", sans-serif;
$black: #000000;
$white: #ffffff;
$red: #dc3545;
$green: #28a745;